{{#if template}}
<template>
    <div class="{{ class_name }}">

    </div>
</template>
{{/if}}

{{#if script}}
<script setup lang="ts">
    export default {
        name: '{{ component_name }}',
        props: {},
        data() {
            return {}
        },
        created() {},
        mounted() {},
        methods: {}
    }

</script>
{{/if}}

{{#if style}}
<style scoped lang="scss">
.{{ class_name }} {

}
</style>
{{/if}}