.my-music {
  .my-music-menu {
      :where(.css-dev-only-do-not-override-uho18y).ant-menu-light.ant-menu-root.ant-menu-inline, :where(.css-dev-only-do-not-override-uho18y).ant-menu-light.ant-menu-root.ant-menu-vertical {
     border-inline-end:none;
}
  }

  .title {
      margin: 0 auto;
      padding-left: 10px;
      margin-top: 5px;
  }
}
