.my-music {
  .my-music-menu {
      // ant-menu-light.ant-menu-root.ant-menu-inline, .ant-menu-light.ant-menu-root.ant-menu-vertical {
     border-inline-end:none;
  }

  .title {
      margin: 0 auto;
      padding-left: 10px;
      margin-top: 5px;
  }
}
