@import '../namespace.scss';
// layout
$pre-cls-layout: #{$namespace}-layout;
$pre-cls-layout-content: #{$namespace}-layout-content;

// layout-header
$pre-cls-layout-header: #{$namespace}-layout-header;

// layout-footer
$pre-cls-layout-footer: #{$namespace}-layout-footer;

// layout-sider
$pre-cls-layout-sider: #{$namespace}-layout-sider;
$pre-cls-layout-sider-sider: #{$namespace}-layout-sider-sider;

// logo
$pre-cls-app-logo: #{$namespace}-app-logo;