{{#if template}}
<template>
    <div class="{{ class_name }}">

    </div>
</template>
{{/if}}

{{#if script}}
<script lang="ts">
    export default {
        name: '{{ pascalCase component_name }}',
        components: {},
        inheritAttrs: false
        setup () {
            return {}
        }
    }
</script>
{{/if}}

{{#if style}}
<style lang="scss" scoped>
.{{ class_name }} {

}
</style>
{{/if}}