@import '../namespace.scss';
@import '../pre/pre-cls.scss';
@import '../variables';

:export {
	namespace: $namespace;
	layout: $pre-cls-layout;
	layoutContent: $pre-cls-layout-content;
	layoutHeader: $pre-cls-layout-header;
	layoutFooter: $pre-cls-layout-footer;
	layoutSider: $pre-cls-layout-sider;
	layoutSiderSider: $pre-cls-layout-sider-sider;
	appLogo: $pre-cls-app-logo;
    // 导出变量供js使用
    siderWidth: $sider-width;
}
